# ======================================================
# Autogenerado por docker-gen
# Registra cada contenedor activo como nombre.local
# ======================================================
{% for container in containers %}
{% if container.State.Running %}
{% for net, data in container.NetworkSettings.Networks %}
address=/{{ container.Name }}.local/{{ data.IPAddress }}
{% endfor %}
{% endif %}
{% endfor %}
