# Archivos de entorno
.env
.env.*

# Configuraciones locales
*/config/*
*/data/*
*.zip
*.7z
*.bak
*.tar
*.tar.gz
*.code-workspace
# Archivos temporales
__pycache__/
*.log
*.tmp
*.swp

# IDE / Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
docker-compose.yml

# Siempre permitir el archivo de plantilla de configuración.
!config-template/
!config-template/**